#container {
    width: 1024px;
    margin: 0 auto;
}
body {
    font-family: 'Arial';
    background-color: white;
}

#header {
    background-color: #ccc;
    font-family: 'Georgia';
    font-size: 72px;
    text-align: center;
    border: solid navy 3px;
    padding: 20px;
}
#navbar {
    background-color: #666;
    border: solid navy 3px;
    font-family: 'Times New Roman';
    color: blue;
    padding: 20px;
    background-color: #ccc;
}

#left {
    float: left;
    background-color: #ccc;
    width: 33%;
    overflow: auto;
}

#middle {
    float: left;
    background-color: #ccc;
    width: 33%;
    overflow: auto;
}
#right {
    float: left;
    background-color: #ccc;
    width: 33%;
    overflow: auto;
}

#full {
    clear: both;
    background-color: #eee;
    overflow: auto;
    width: 100%;
    border: 4px solid navy;
}

#division {
    background-color: #white;
    padding: 20px;
}

#aside {
    border: 3px solid black;
    width: 33%;
    background-color: white;
    float: left;
}
#thing {
    background-color: white;
    border: solid black 5px;

}

.underLine {
    text-decoration: underline;
}

.blackText {
    color: black;
}

.imageFit {
    width: 100%;
    height: 100%;
}

footer {
    clear: both;
    text-align: center;
    font-family: 'Georgia';
    padding: 20px;
    font-size: 30px;
    border: solid navy 3px;
    background-color: #ccc;
    position: absolute;
}

/* class for paragraph text */
.paragraphText {
    font-family: 'Arial';
    font-size: 16px;
}
/* class for header text */
.headerText {
    font-family: 'Arial';
    font-size: 36px;
    text-decoration: underline;
    font-weight: bold;
}
